<video class="uk-background-fixed uk-background-center-center" src="https://res.cloudinary.com/davidcastillog/video/upload/v1641416739/foodhack/pexels-mario-schafer-7818021_1_wpqsrf.mp4" loop muted playsinline uk-video="autoplay: inview"></video>
<form class="uk-position-center" action="/login" method="post">

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" name="username" placeholder="Username">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" type="password" name="password" placeholder="******">
        </div>
    </div>
    <div class="uk-margin">
          <button class="uk-button uk-button-danger">Log in</button>
    </div>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}