<div class="uk-container-xlarge">
    <video class="uk-background-center-center" src="https://res.cloudinary.com/davidcastillog/video/upload/v1641416739/foodhack/pexels-mario-schafer-7818021_1_wpqsrf.mp4" loop muted playsinline uk-video="autoplay: inview"></video>
    <form class="uk-position-center" action="/signup" method="post">

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input" type="text" name="email" placeholder="Email" required>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" name="username" placeholder="Username" required>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="password" placeholder="Password" required>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="confirmPassword" placeholder="Confirm Password" required>
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-danger uk-align-center">Join</button>
        </div>
        <div class="uk-alert-danger">
        {{#if errorMessage}}
        <p class="uk-width-medium uk-text-center" uk-alert>{{errorMessage}}</p>
        {{/if}}
        </div>
    </form>
</div>