<div class="uk-margin uk-position-center">

    <h2 class="uk-padding-small uk-text-center">Welcome to {{title}} 🌮🍔🍕🍟</h2>
    <p class="uk-padding-small uk-text-center">A place to share your recipes!</p>
<br>
<br>
<br>
<br>

    <div class="search-box uk-position-center">
    
        <form class="uk-search uk-search-default" action="/recipe/search/" method="POST">  
            <span uk-search-icon></span>
            <input class="search-box uk-search-input" type="search" placeholder="Find recipes" name="search" autofocus>
        </form>
    
    </div> 

    <div class="favorites">
    <p class="uk-text-center uk-text-small uk-text-light uk-text-italic uk-text-danger uk-text-capitalize">Personalize your experience</p>
    <h4 class="uk-text-center">What are your favourite cuisines?</h4>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid">
        <li>
            <div class="uk-panel">
                
                <img src={{recipe.images}} alt="">
                <div class="uk-position-center uk-panel"><h1>Italian</h1></div>
            </div>
        </li>
        <li>
            <div class="uk-panel">
                <img src="images/slider2.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Venezuelan</h1></div>
            </div>
        </li>
        <li>
            <div class="uk-panel">
                <img src="images/slider3.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>French</h1></div>
            </div>
        </li>
        <li>
            <div class="uk-panel">
                <img src="images/slider4.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>German</h1></div>
            </div>
        </li>
        <li>
            <div class="uk-panel">
                <img src="images/slider5.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Southern</h1></div>
            </div>
        </li>
        <li>
            <div class="uk-panel">
                <img src="images/slider1.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Mexican</h1></div>
            </div>
        </li>
        <li>
            <div class="uk-panel">
                <img src="images/slider2.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Thai</h1></div>
            </div>
        </li>
        <li>
            <div class="uk-panel">
                <img src="images/slider3.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Asian</h1></div>
            </div>
        </li>
        <li>
            <div class="uk-panel">
                <img src="images/slider4.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>American</h1></div>
            </div>
        </li>
        <li>
            <div class="uk-panel">
                <img src="images/slider5.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Indian</h1></div>
            </div>
        </li>
         <li>
            <div class="uk-panel">
                <img src="images/slider5.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Medterranean</h1></div>
            </div>
        </li>
         <li>
            <div class="uk-panel">
                <img src="images/slider5.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Spanish</h1></div>
            </div>
        </li>
         <li>
            <div class="uk-panel">
                <img src="images/slider5.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Moroccan</h1></div>
            </div>
        </li>
         <li>
            <div class="uk-panel">
                <img src="images/slider5.jpg" alt="">
                <div class="uk-position-center uk-panel"><h1>Croatian</h1></div>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
</div>

