<form class="uk-form-horizontal uk-margin-small uk-padding-small" action="/user/change-password" method="POST">
<div class="uk-card uk-card-default uk-width-1-2@m uk-align-center">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="{{user.profilePic}}">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{user.username}}</h3>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
            <label class="uk-form-label" for="form-horizontal-text">Current Password:</label>
            <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" name="password" type="password">
            </div>
    </div>
    <div class="uk-card-body">
            <label class="uk-form-label" for="form-horizontal-text">New Password:</label>
            <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" name="newPassword" type="password">
            </div>
            <label class="uk-form-label" for="form-horizontal-text">Confirm New Password:</label>
            <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" name="newPassword2" type="password">
            </div>
    <div class="uk-alert-danger">
    {{#if error}}
    <p uk-alert>{{error}}</p>
    {{/if}}
    </div>
</div>
    </div>
    <button class="uk-button uk-button-danger uk-align-center">Change Password</button>
</form>