body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.indexslider {
  background-color: black;
}

.uk-first-column {
  margin-top: 30px;
}

.uk-section-secondary {
  background: #e80f00e0;
}

footer .uk-first-column {
  margin-top: 0px
}

footer .imgfooter {
  margin-left: 40px !important;
}