<div class="uk-container uk-container-small uk-margin-medium">
    <div class="uk-tile uk-tile-secondary uk-padding-remove">
    <h3 class="uk-padding-small uk-text-center">Create Recipe</h3>
    </div>
        <form class="uk-form-horizontal uk-margin-small uk-padding-small" enctype="multipart/form-data" action="/recipe/create" method="POST">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Name:</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large" name="name" type="text" placeholder="Name" minlength="3" maxlength="50">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Ingredients:</label>
                <textarea class="uk-textarea uk-form-width-large" name="ingredients" rows="3" placeholder="Ingredients"></textarea>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Instructions:</label>
                <textarea class="uk-textarea uk-form-width-large" name="instructions" rows="7" placeholder="Instructions"></textarea>
            </div>

            <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Cook Time (min):</label>
            <input class="uk-input uk-form-width-small" type="number" name="cookTime" placeholder="Ex. 10" min="0" max="300">
            </div>

            <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Preparation Time (min):</label>
            <input class="uk-input uk-form-width-small" type="number" name="prepTime" placeholder="Ex. 20" min="0" max="300">
            </div>

            <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Total Time (min):</label>
            <input class="uk-input uk-form-width-small" type="number" name="totalTime" placeholder="Ex. 30" min="1" max="300">
            </div>

            <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Servings:</label>
            <input class="uk-input uk-form-width-small" type="number" name="servings" placeholder="Ex. 2" min="1" max="12">
            </div>

            <div class="uk-margin uk-width-1-2@s">
                <label class="uk-form-label" for="form-horizontal-select">Cuisine Type:</label>
                <div class="uk-form-controls">
                    <select class="uk-select" name="cuisineType">
                        <option value="">Select one...</option>
                        <option value="French">French</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Indian">Indian</option>
                        <option value="Italian">Italian</option>
                        <option value="Greek">Greek</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Lebanese">Lebanese</option>
                        <option value="Moroccan">Moroccan</option>
                        <option value="Turkish">Turkish</option>
                        <option value="Thai">Thai</option>
                        <option value="Asian">Colombian</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Venezuelan">Venezuelan</option>
                        <option value="Peruvian">Peruvian</option>
                        <option value="Brazilian">Brazilian</option>
                        <option value="Argentinian">Argentinian</option>
                        <option value="Colombian">Colombian</option>
                        <option value="Vegan">Vegan</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Seafood">Seafood</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Meal Type:</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-form-width-medium" name="mealType">
                        <option>Breakfast</option>
                        <option>Lunch</option>
                        <option>Dinner</option>
                        <option>Dessert</option>
                        <option>Salad</option>
                    </select>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Images:</label>
                <div uk-form-custom>
                    <input type="file" name="images" multiple>
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                </div>
            </div>
            <button class="uk-button uk-button-danger uk-align-center">Create Recipe</button>

            <div class="uk-alert-danger">
            {{#if errorMessage}}
            <p uk-alert>{{errorMessage}}</p>
            {{/if}}
            </div>
        </form>
</div>
