<form>
    <fieldset class="uk-fieldset">
     <legend class="uk-legend">Create Recipe</legend>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Recipe name">
        </div>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Description">
        </div>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Ingredients">
        </div>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Cook time">
        </div>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Prep time">
        </div>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Total time">
        </div>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Servings">
        </div>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Country of origin">
        </div>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Meal type">
        </div>

        <div class="uk-margin">
            <input name= "name" class="uk-input" type="text" placeholder="Tags">
        </div>

        </fieldset>
</form>