

<form class="uk-form-horizontal uk-margin-small uk-padding-small uk-search uk-search-default" enctype="multipart/form-data" action="/recipe/recipe-list" method="POST">

<div class="uk-container-large">
    <h3>Recipes</h3>
    
        
    <input class="uk-search-input" type="search" placeholder="Search {{recipe.name}}">
  
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
   
    <div class="uk-card-media-left uk-cover-container">
         {{#each recipe}} 
        <img src="{{this}}" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{this.name}}</h3>
            <p>{{this.instructions}}</p>
        </div>
    {{/each}}
    </div>
    
   
</div>
</div> 
</form>