

<form action="uk-form-horizontal uk-margin-small uk-padding-small" enctype="multipart/form-data" action="/recipe/recipe-list" method="GET">

<div class="uk-container-large uk-padding-large">
    <h3>Recipes</h3>
    <form class="uk-search uk-search-large">
    <input class="uk-search-input" type="search" placeholder="Search Recipes">
    </form>
    
    <ul class="uk-list uk-list-bullet">
        <li>Breakfast</li>
        <li>Lunch</li>
        <li>Dinner</li>
        <li>Salad</li>
        <li>Dessert</li>
    </ul>





















</div>
</form>