<h1>Recipes</h1>

<section>
    <div class="card-container">
    {{#each recipes}}
    <div class="uk-card-small uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

    <ul class="uk-slideshow-items">
        {{#each this.images}}
        <li>
            <img src={{this}} alt="" uk-cover>
        </li>
        {{/each}}
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>

        
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{this.name}}</h3>
            <p>{{this.instructions}}</p>
        </div>
    </div>
</div>
{{/each}}
</div>
</section>